@import "../valo/valo.scss";

@mixin jpetstoretheme {

  @include valo;

  .v-margin-left {
    padding-left: 20px;
  }
  .v-margin-bottom {
    padding-bottom: 20px;
  }
  .v-margin-right {
    padding-right: 20px;
  }
  .v-margin-top {
    padding-top: 20px;
  }
  .v-panel-caption {
    font-weight: 500;
    font-size: 16px;
  }
  .v-caption {
    padding-left: 10px;
  }

  .left-menu {
    width: 250px;
    position: relative;

    .valo-menu-item,
    .valo-menu-title {
      font-size: 16px;
      text-align: left;
    }
  }

  .top-menu {
    position: relative;
    width: 100%;
    height: 44px;

    .valo-menu-item {
      display: inline-block;
      font-size: 16px;
      text-align: center;
      padding: 0px 0px 0px 0px;
    }
    .v-button {
      height: 44px;
    }
    .v-textfield {
      width: 150px;
      height: 25px;
      padding: 0px 0px 0px 0px;
      margin-left: 20px;
      margin-top: 10px;
    }
  }

  .welcome-user-label {
    font-size: 16px;
    font-weight: 600;
    color: #5ea6ed;
    height: 44px;
    line-height: 49px;
    padding-left: 10px;
  }

  .base-form {
    .v-textfield {
      height: 37px;
    }
    [class*="margin-top"] > tbody > [class*="firstrow"] > td {
      padding-top: 0px;
    }
    [class*="spacing"] > tbody > [class*="row"] > td {
      padding-top: 8px;
    }
    [class*="margin-bottom"] > tbody > [class*="lastrow"] > td {
      padding-bottom: 8px;
    }
  }

  .wide-text-field {
    width: 370px;
  }

  .view-label {
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0;
    font-weight: 500;
  }

  .view-label-large {
    @extend .view-label;
    font-size: 1.5em;
  }

  .view-label-medium {
    @extend .view-label;
    font-size: 1.1em;
  }

  .view-label-small {
    @extend .view-label;
    font-size: 0.9em;
  }

  .banner {
    background-color: #434343;
  }

  .banner-2 {
    background-color: #8b9a93;
  }
}
